body {
	background: #80020b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjODAwMjBiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjYzQyMTIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGEyNzI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjYzQyMTIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgwMDIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  #80020b 0%, #c42121 25%, #da2727 50%, #c42121 75%, #80020b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#80020b), color-stop(25%,#c42121), color-stop(50%,#da2727), color-stop(75%,#c42121), color-stop(100%,#80020b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #80020b 0%,#c42121 25%,#da2727 50%,#c42121 75%,#80020b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #80020b 0%,#c42121 25%,#da2727 50%,#c42121 75%,#80020b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #80020b 0%,#c42121 25%,#da2727 50%,#c42121 75%,#80020b 100%); /* IE10+ */
	background: linear-gradient(45deg,  #80020b 0%,#c42121 25%,#da2727 50%,#c42121 75%,#80020b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80020b', endColorstr='#80020b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	padding: 7%;
}

#header, header {

}

#footer, footer {

}

#nav {
	border-radius:4px;
	box-shadow:0 1px 8px 0.5px #000 ;
	-webkit-box-shadow:0 1px 8px 0.5px #000;
	-moz-box-shadow:0 1px 8px 0.5px #000;
	-o-box-shadow:0 1px 8px 0.5px #000;
	width: 100%;
}
#sideBar {
	width: 25%;
}
